
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1478366444112-1 {
            top: 0px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1478366444112-0 {
            min-height: 53px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1486310082141-8 {
            min-height: 23px; 
            width: 100px; 
            top: 19px; 
            left: 1017px; 
        }
        .silex-id-1474394621033-3 {
            top: 103px; 
            left: 0px; 
        }
        .silex-id-1474394621032-2 {
            min-height: 90px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1486310563127-10 {
            min-height: 83px; 
            width: 1195px; 
            background-color: rgb(255, 255, 255); 
            top: 2px; 
            left: 3px; 
        }
        .silex-id-1486309873417-3 {
            min-height: 69px; 
            width: 235px; 
            top: 9px; 
            left: 10px; 
        }
        .silex-id-1486309987820-4 {
            min-height: 70px; 
            width: 151px; 
            top: 9px; 
            left: 262px; 
        }
        .silex-id-1486310007478-5 {
            min-height: 70px; 
            width: 135px; 
            top: 9px; 
            left: 434px; 
        }
        .silex-id-1486310035077-6 {
            min-height: 70px; 
            width: 155px; 
            top: 9px; 
            left: 586px; 
        }
        .silex-id-1486310045329-7 {
            min-height: 70px; 
            width: 197px; 
            top: 9px; 
            left: 768px; 
        }
        .silex-id-1478366450713-3 {
            top: 143px; 
            left: 0px; 
            background-color: transparent; 
            min-width: 1200px; 
        }
        .silex-id-1478366450713-2 {
            min-height: 1205px; 
            background-color: transparent; 
            width: 1200px; 
            top: 0px; 
            left: 208px; 
        }
        .silex-id-1486312226683-39 {
            min-height: 550px; 
            width: 501px; 
            background-color: rgb(255, 255, 255); 
            top: 3px; 
            left: 3px; 
        }
        .silex-id-1486312179285-36 {
            min-height: 105px; 
            width: 458px; 
            top: 23px; 
            left: 27px; 
        }
        .silex-id-1486312179284-35 {
            min-height: 427px; 
            width: 455px; 
            background-color: rgb(255, 255, 255); 
            top: 76px; 
            left: 22px; 
        }
        .silex-id-1486312179290-38 {
            min-height: 300px; 
            width: 300px; 
            top: 13px; 
            left: 23px; 
        }
        .silex-id-1486312179285-37 {
            min-height: 100px; 
            width: 425px; 
            top: 323px; 
            left: 10px; 
        }
        .silex-id-1486312260269-40 {
            min-height: 550px; 
            width: 501px; 
            background-color: rgb(255, 255, 255); 
            top: 2px; 
            left: 518px; 
        }
        .silex-id-1486312260270-41 {
            min-height: 105px; 
            width: 458px; 
            top: 23px; 
            left: 27px; 
        }
        .silex-id-1486312260274-44 {
            min-height: 100px; 
            width: 425px; 
            top: 401px; 
            left: 26px; 
        }
        .silex-id-1486312279801-45 {
            min-height: 300px; 
            width: 400px; 
            top: 87px; 
            left: 29px; 
        }
        .silex-id-1486312323978-46 {
            min-height: 550px; 
            width: 501px; 
            background-color: rgb(255, 255, 255); 
            top: 620px; 
            left: 3px; 
        }
        .silex-id-1486312323979-47 {
            min-height: 134px; 
            width: 458px; 
            top: 23px; 
            left: 27px; 
        }
        .silex-id-1486312323980-48 {
            min-height: 427px; 
            width: 455px; 
            background-color: rgb(255, 255, 255); 
            top: 76px; 
            left: 22px; 
        }
        .silex-id-1486312323983-49 {
            min-height: 300px; 
            width: 300px; 
            top: 13px; 
            left: 23px; 
        }
        .silex-id-1486312323984-50 {
            min-height: 100px; 
            width: 425px; 
            top: 323px; 
            left: 10px; 
        }
        .silex-id-1486312333557-51 {
            min-height: 549px; 
            width: 501px; 
            background-color: rgb(255, 255, 255); 
            top: 621px; 
            left: 518px; 
        }
        .silex-id-1486312333557-52 {
            min-height: 134px; 
            width: 458px; 
            top: 23px; 
            left: 27px; 
        }
        .silex-id-1486312333560-53 {
            min-height: 300px; 
            width: 400px; 
            top: 76px; 
            left: 29px; 
        }
        .silex-id-1486312333561-54 {
            min-height: 100px; 
            width: 425px; 
            top: 401px; 
            left: 26px; 
        }
        .silex-id-1486311003490-15 {
            top: 1348px; 
            left: 0px; 
        }
        .silex-id-1486311003489-14 {
            min-height: 169px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1486312438084-56 {
            min-height: 131px; 
            width: 129px; 
            top: 4px; 
            left: 18px; 
        }
        .silex-id-1486312433668-55 {
            min-height: 100px; 
            width: 100px; 
            top: 20px; 
            left: 150px; 
        }
    